
.addNewElement {
  width: auto;
  margin-right: 3%;
}
.exportNewElement {
  width: auto;
}
.logout {
  width: auto;
  margin-left: 2%;
}
.basicButtons{
  align-items: center;
  text-align: center;
}
