<div class="div-buttons-container basicButtons">
    <button style="background: #3f51b5;  border:1px solid #3f51b5" type="button" class="btn btn-primary btn-lg addNewElement "  data-toggle="modal"  (click)="openForm('', undefined)">
      <i class="fa fa-plus"> Agregar</i>
    </button>
    <button style="background: #3f51b5;  border:1px solid #3f51b5" type="button" class="btn btn-primary btn-lg exportNewElement " data-toggle="modal"  (click)="exportAsXLSX()">
      <i class="fa fa-file-excel-o"> Exportar</i>
    </button>
    <button style="background: #3f51b5 ;  border:1px solid #3f51b5" type="button" class="btn btn-primary btn-lg logout " data-toggle="modal"  (click)="logout()">
      <i class="fa fa-sign-out"> Salir</i>
    </button>
</div>
