<nav class="navbar navbar-toggleable-md navbar-inverse ">
  <h3>
    Bienvenido {{user}}
  </h3>
 <mat-card>
   <div class="div-buttons-container">
     <button style="" type="button" class="btn btn-primary btn-lg addNewElement "  data-toggle="modal"  (click)="openForm('')">
       <i class="fa fa-plus"> Agregar</i>
     </button>
     <button type="button" class="btn btn-primary btn-lg exportNewElement " data-toggle="modal"  (click)="exportAsXLSX()">
       <i class="fa fa-file-excel-o"> Exportar</i>
     </button>
     <button type="button" class="btn btn-primary btn-lg logout " data-toggle="modal"  (click)="logout()">
       <i class="fa fa-sign-out"> Salir</i>
     </button>

   </div>
 </mat-card>
 <mat-card>
    <div class="Table-container mat-elevation-z8">
      <div class="Table-table-container ">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

         <table mat-table [dataSource]="data" matSort>

          <!-- Number Column -->
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row">
              <div>
                {{row.id}}
              </div>
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"  (click)="openForm(row)" style="cursor:pointer">
              {{row.name}}
            </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
            <td mat-cell *matCellDef="let row">{{row.progress }}</td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Portal </th>
            <td mat-cell *matCellDef="let row">{{row.color}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-card>

</nav>
