<div style="display: flex; padding:10px">
  <button style="" type="button" class="btn btn-primary btn-lg addNewElement "  data-toggle="modal"  (click)="openForm('')">
    <i class="fa fa-plus"> Agregar</i>
  </button>
  <button type="button" class="btn btn-primary btn-lg exportNewElement " data-toggle="modal"  (click)="exportAsXLSX()">
    <i class="fa fa-file-excel-o"> Export</i>
  </button>
</div>
<div class="Table-container mat-elevation-z8">
  <div class="Table-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="Table-table-container">
    <mat-form-field>
      <label>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </label>
    </mat-form-field>
    <table mat-table [dataSource]="data" class="Table-table"
           matSort matSortActive="Phone" matSortDisableClear matSortDirection="desc">

      <!-- Number Column -->
      <ng-container matColumnDef="id"  >
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">
          <div>
            {{row.id}}
          </div>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="Name" >
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let row"  (click)="openForm(row)" style="cursor:pointer">
          {{row.Name}}
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="Phone">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header disableClear>Teléfono</th>
        <td mat-cell *matCellDef="let row">{{row.Phone }}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="Portal">
        <th mat-header-cell *matHeaderCellDef>
          Portal
        </th>
        <td mat-cell *matCellDef="let row">{{row.Portal}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="Dias">
        <th mat-header-cell *matHeaderCellDef>
          Dias
        </th>
        <td mat-cell *matCellDef="let row">{{row.Dias}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="Observations">
        <th mat-header-cell *matHeaderCellDef>
          Observaciones
        </th>
        <td mat-cell *matCellDef="let row">{{row.Observations}}</td>
      </ng-container>
      <!-- Created Column -->
      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef>
          Delete
        </th>
        <td mat-cell *matCellDef="let row">
          <button class="btn btn-primary btn-lg" (click)="deleteRow(row)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
</div>
