
<mat-card >
  <buttonNavigation [input]="'FormComponent'" ></buttonNavigation>
 </mat-card>
 <mat-card style="min-width: 547px;
    overflow: auto; min-height: 60px; height: 500px;">
       <mat-form-field style="width: 100%">
         <label>
           <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
         </label>
       </mat-form-field>
   <div class="responsive-table centered">

         <mat-table  [dataSource]="data" matSort >

          <!-- Number Column -->
          <ng-container matColumnDef="id" style="display: none">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <p>{{row.id}}</p>
              </div>
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="Name"  style="cursor: pointer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row" (click)="this.buttonDataBase.openForm(row,'FormComponent')" style="cursor:pointer">
              <p  style="cursor: pointer">{{row.Name}}</p>
            </td>
          </ng-container>

          <!-- State Column -->
          <ng-container matColumnDef="Phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
            <td mat-cell *matCellDef="let row">
              <p>{{row.Phone}}</p>
            </td>
          </ng-container>

          <!-- Created Column -->
          <ng-container matColumnDef="Portal">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Portal </th>
            <td mat-cell *matCellDef="let row">
              <p>{{row.Portal}}</p>
            </td>
          </ng-container>

           <!-- Created Column -->
           <ng-container matColumnDef="Dias">
             <th mat-header-cell *matHeaderCellDef mat-sort-header> Dias </th>
             <td mat-cell *matCellDef="let row">
               <p>{{row.Dias}}</p>
             </td>
           </ng-container>

           <!-- Created Column -->
           <ng-container matColumnDef="Observations" >
             <th mat-header-cell *matHeaderCellDef mat-sort-header> Observaciones </th>
             <td mat-cell *matCellDef="let row">
               <div class="ellipsis">
                 <p>{{row.Observations}}</p>
               </div>
             </td>
           </ng-container>
          <!-- Created Column -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Borrar </th>
            <td mat-cell *matCellDef="let row" >
              <button style="background: #3f51b5;  border:1px solid #3f51b5" type="button" class="btn btn-primary btn-lg " data-toggle="modal"  (click)="deleteRow(row)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  </mat-card>

<!--   <app-file-upload></app-file-upload>-->

