/* Structure */
.Table-container {
  position: relative;
  min-height: 200px;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

.Table-table-container {
  position: relative;
  max-height: 770px;
  overflow: auto;
}

table {
  width: 100%;
}

mat-card {
  width: 100%;
  padding: 10px;
  margin: 10px;
}
.div-buttons-container{
  display: flex;
  padding:10px;
  width: 100%
}

.Table-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Table-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.addNewElement {
  width: 48%;
  margin-right: 4%;
}
.exportNewElement {
  width: 48%;
}
.logout {
  width: 48%;
  margin-left: 4%;
}

.navbar-inverse{
  background-color: transparent;
  border-color: transparent;
}

.ellipsis{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
