<div class="header" style="margin: 0px; border: 2px solid #4ecdc4" >
  <h5 class="card-header info-color white-text text-center py-4" style="background-color: #4ECDC4; color: #333333; margin: 0px">
    <strong>¿Estás seguro de querer eliminar el siguiente dato?</strong>
  </h5>
  <div class="form-group" style="margin: 5px;">
    <button type="button" (click)="delete()" style="margin-right: 4%; background-color: red"  class="btn btn-danger">Eliminar</button>
    <button  class="btn btn-primary" mat-dialog-close>Cerrar</button>
  </div>
</div>
