mat-sidenav-content {
  height: 200vh;
}
.full-page{
  height: 100%;
  display: flex;
}

.sidenav-card {
  margin: auto;
  width: 350px;
}

.sidenav-field {
  width: 200px;
}
.clickEvent {
  background-color: white;
  color:#3f51b5;
}

.material-icons.white600 { color: #ffffff; padding-right: 5px}
.material-icons.black600 { color: #ffffff; padding-right: 5px}
.clickNotEvent  {
  background-color:#3f51b5;
  color: white;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(0,0,0,.6);
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.active-list-item {
  background-color: #4ECDC4 !important;
  color: #ffffff !important; /* Note: You could also use a custom theme */
}
