<mat-sidenav-container >
  <mat-sidenav opened mode="side"  style="background:#007bff ">
    <mat-nav-list>
      <img src="../../../assets/450_1000.jpg" height="150" width="150"/>
      <a mat-list-item [routerLink]="['table']">
        <b style="color: #f5f5f5;">Trabajadoras</b>
      </a>
      <a mat-list-item [routerLink]="['client']">
        <b style="color: #f5f5f5;">Clientes</b>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
