<mat-sidenav-container >
  <mat-sidenav opened mode="side"  style="background:#007bff ">
    <mat-nav-list style="width:166px">
      <div style="padding: 5px">
        <img src="../../../assets/Logo.png" height="150" width="150"/>
      </div>
      <a mat-list-item *ngFor="let item of arrayItems let index = i" [routerLink]="[item.url]" >
        <b>{{item.name}}</b>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
