<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm" class="my-form" (ngSubmit)="onSubmit()">
        <div class="input-field col s12">
          <i class="material-icons prefix">verified_user</i>
          <input  matInput formControlName="name" placeholder="Nombre" name="name">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">portrait</i>
          <input  matInput formControlName="lastname" placeholder="Apellido" name="apellido">
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <input  matInput formControlName="username" placeholder="Email" name="username">
        </div>
        <div class="input-field col s12" >
          <i class="material-icons prefix">lock_outline</i>
          <input  matInput  formControlName="password"
                  placeholder="Password" name="password"
                  (keydown)="keyDownFunction($event)"
                  type="password">
        </div>
        <p>
          <button mat-raised-button type="submit" color="primary" class="btn waves-effect waves-light col s12">Register</button>
        </p>
      </form>
      <a routerLink="/login" routerLinkActive="router-link-active" >Login</a>
    </mat-card-content>
  </mat-card>
</div>

