mat-table {
  display: table;
}
.div-buttons-container{
  display: flex;
  padding:10px;
  width: 100%
}

::ng-deep td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 8px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.navbar-inverse{
  background-color: transparent;
  border-color: transparent;
}

.ellipsis{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



@media screen and (max-width: 450px) {
  div > mat-card {
    margin: 25px;
    /* min-width: 607px; */
    overflow-y: scroll;
    overflow-x: scroll ;
    height: 400px;
  }
}
@media screen and (max-height: 375px) {
  div > mat-card {
    /* margin: 25px; */
    min-width: 577px;
    overflow: scroll;
    height: 220px;
  }
}
