<div class="mat-dialog-container-clients">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong>{{titulo}}</strong>
  </h5>

  <form [formGroup]="contacto" (ngSubmit)="onSubmit()" >
    <div class="form-group" style="display: none">
      <label>Id</label>
      <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
      <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
        <div *ngIf="f.id.errors.required">Por favor, ingresa tus Id</div>
      </div>
    </div>
    <div class="form-group row">
      <div class=" col-6">
        <label>Nombre</label>
        <input type="text" formControlName="Name" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
        <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
          <div *ngIf="f.Name.errors.required">El nombre es obligatorio</div>
          <div *ngIf="f.Name.errors.Name">Por favor, ingresa tu Nombre</div>
        </div>
      </div>
      <div class="col-6">
        <label>Teléfono</label>
        <input type="text" formControlName="Phone" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.Phone.errors }" />
        <div *ngIf="submitted && f.Phone.errors" class="invalid-feedback">
          <div *ngIf="f.Phone.errors.required">Por favor, ingresa el número de teléfono</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="Observations">Observations</label>
      <textarea class="form-control" formControlName="Observations" rows="3" [ngClass]="{ 'is-invalid': submitted && f.Observations.errors }"></textarea>
      <div *ngIf="submitted && f.Observations.errors" class="invalid-feedback">
        <div *ngIf="f.Observations.errors.required">Por favor, ingresa las observaciones</div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" style="margin-right: 4%;" [disabled]="loading" class="btn btn-primary">Submit</button>
      <button  class="btn btn-primary" mat-dialog-close>Close</button>
    </div>
  </form>
</div>
