

html,body{height:100%;margin:0;padding:0;}
body{background-position:center;background-size:cover;background-repeat:no-repeat;min-height:100vh;font-family:'Roboto', sans-serif;}
.app-header{justify-content:space-between;position:fixed;top:0;left:0;right:0;z-index:2;box-shadow:0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);}
.login-wrapper{height: 944px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
  align-items: baseline;
  background-image: url(~src/assets/gmg_red.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh}
.box{position:relative;top:0;opacity:1;padding:60px 50px 40px 50px;background :#fff;border-radius:10px;transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);z-index:5;    max-width: 350px;
  margin: 0 auto;}
.box.back{transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);top:-20px;opacity:.8;z-index:-1;}
.box:before{content:"";width:100%;height:30px;border-radius:10px;position:absolute;top:-10px;background:rgba(255, 255, 255, .6);left:0;transform:scale(.95);-webkit-transform:scale(.95);-ms-transform:scale(.95);z-index:-1;}
.login-wrapper .example-form{min-width:100%;max-width:300px;width:100%;}
.login-wrapper .example-full-width,.login-wrapper .btn-block{width:100%;}
.login-wrapper mat-card-header{text-align:center;width:100%;display:block;font-weight:700;}
.login-wrapper mat-card-header mat-card-title{font-size:30px;margin:0;}
.login-wrapper .mat-card{padding:40px 70px 50px;}
.login-wrapper .mat-stroked-button{border:1px solid currentColor;line-height:54px;background:#FFF7FA;color: #26a69a;width: 100%}
.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix{padding:0.8375em 0;}

.help-block{
  color:red
}

html,
body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  background: #4ECDC4;
}

#login-page {
  width: 500px;
}

.card {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
